@import "variables.less";

.hyaline {
    .grid {
        // all grids are flex-boxes by default
        display: flex;

        // grids default to row direction
        flex-direction: row;

        // Rules for children
        .cell {
            padding: @grid-gap;
            background: @demo-bg;
            color: @demo-c;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;

            margin: 0 (@grid-gap / 2) @grid-gap (@grid-gap / 2);

            // default flex values
            flex: 1 1 0;

            // this will generate classes of .span-# given the number of grid columns
            .generate-columns(@grid-columns);

            // remove some margins
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }

        // Grid Modifiers
        &.inline { display: inline-flex; }
        &.reverse { flex-direction: row-reverse; }

        &.wrap {
            flex-wrap: wrap;
            .cell {
                margin-left: 0;
                margin-right: 0;
            }
        }

        // clear gutters on packed grid cells
        &.packed {
            .cell {
                margin-right: 0;
                margin-left: 0;
            }
        }

        &.space-around {
            justify-content: space-around;
        }
        &.space-between {
            justify-content: space-between;
        }
    }
}

//
// functions
//

// generate classes of format /.span-#/ depending on the number of grid columns
.generate-columns(@n, @i: 1) when (@i =< @n) {
    &.span-@{i} {
        flex: 0 1 (@i * 100% / @n);
    }

    .generate-columns(@n, (@i + 1));
}