/*!
 * hyaline.less
 * github.com/chazsolo/hyaline.css
 * MIT License
 */

@import-once "variables.less";
@import "grid.less";
@import "type.less";

// helpers
.hyaline {
    .center-text {
        text-align: center;
    }

    .fixed-small {
        width: 96rem;
        margin: 0 auto;
    }
}
