/*!
 * hyaline.less
 * github.com/chazsolo/hyaline.css
 * MIT License
 */

@import "reset.less";
@import "variables.less";
@import "grid.less";
@import "type.less";

// helpers
.hyaline {
    #examples {
        max-width: 960px;
        margin: 0 auto;

        .cell {
            text-align: center;
        }
    }

    section {
        & + section {
            margin-top: 1rem;
        }
    }

    .fixed-width {
        width: 96rem;
        margin: 0 auto;
    }
}
