/*!
 * hyaline.less
 * github.com/chazsolo/hyaline.css
 * MIT License
 */

@import "reset.less";
@import "variables.less";
@import "grid.less";
@import "type.less";

// helpers
.hyaline {

    section {
        padding: 1rem 2rem;

        & + section {
            margin-top: 1rem;
        }
    }


    .center-text {
        text-align: center;
    }

    .fixed-width {
        width: 96rem;
        margin: 0 auto;
    }
}
